# Xcode
*.xcuserstate
*.xcscmblueprint
xcuserdata/
DerivedData/
*.moved-aside
*.orig
*.swp

# Build output
build/
output/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
*.xcworkspace
!SleepGuardian.xcodeproj/project.xcworkspace

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
